<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="API.ashx" />
			</files>
		</defaultDocument>
	</system.webServer>
    <system.web>
		<compilation debug="true" targetFramework="4.0" />
    </system.web>
	<appSettings>
		<add key="ConnectionString" value="server=(local);database=Northwind;Integrated Security=SSPI" />
	</appSettings>
</configuration>
