<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="BasisDB" connectionString="Data Source=localhost;Initial Catalog=Brakel-Login;User Id=BrakelApplication;Password=BrakelPassword;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="API.ashx" />
			</files>
		</defaultDocument>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />			
		</staticContent>
		<httpProtocol allowKeepAlive="true" />
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".p12" allowed="false" />
                    <add fileExtension=".pem" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
	</system.webServer>
	<system.web>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    </system.web>
	<appSettings>
		<add key="TestBuilding" value="145.48.128.102:5555" />
		<add key="TestIPad" value="643b234ee3d38170b4282fee7d9ec54a505f2605e03699f114791e0ca6f3ffb1" />
		<add key="BuildingTimeout" value="350000" />
		<add key="PollInterval" value="3600000" />
		<add key="MaxPollErrors" value="5" />
	</appSettings>
</configuration>
