<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<!-- SQL DATABASE -->
		<add name="BasisDB" connectionString="Data Source=localhost;Initial Catalog=Brakel-Login;User Id=BrakelApplication;Password=BrakelPassword;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="API.ashx" />
			</files>
		</defaultDocument>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />			
		</staticContent>
		<httpProtocol allowKeepAlive="true" />
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
	</system.webServer>
	<system.web>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    </system.web>
	<appSettings>
		<add key="TestBuilding" value="http://145.48.133.29:5555/" />
	</appSettings>
</configuration>
